body {
  background: linear-gradient(to bottom, #ffffff 1%, #ffffcc 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

h1 {
  font-weight: lighter;
  font-size: 45px;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

h2 {
  font-weight: bold;
  letter-spacing: 0px;
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}

.addOption {
  margin-top: 10px;
  background-color: #4CAF50
  border: white;
}

.GoOption {
  margin-bottom: 20px;
}

button {
  background-color: black;
  color: white;
  flex-direction: center;
  justify-content: center;
}
